.container-box{
     margin : 20px 20px 20px 20px;
     padding : 20px 20px 20px 20px;
 }

 .container {
    display: flex;
  }
  .container > div {
    flex: 1;
  }
  .container > div > h3{
      text-align: center;
  }